<div *ngIf="closed else openCard" class="card main"
    [style.z-index]="getZIndex()"
    [style.grid-row-start]="getRowStart()"
    [style.grid-row-end]="getRowEnd()">
</div>
<ng-template #openCard>
  <div class="card" [style.color]="getColor(card)"
    [style.z-index]="getZIndex()"
    [style.grid-row-start]="getRowStart()"
    [style.grid-row-end]="getRowEnd()"
    cdkDrag>
    <p class="top">{{card.suit + card.value}}</p>
    <p class="center">{{card.suit + card.value}}</p>
    <p class="bottom">{{card.suit + card.value}}</p>
  </div>
</ng-template>