* {
  user-select:none;
}

.board {
  border: 5px solid #1c4040;
  box-shadow: inset 0px 0px 0px 1px #6b9191;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: 2% 24% 74%;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.board-shape {
  margin: auto;
  position: relative;
  height: 0px;
}

@media (min-width: 0) {
  .menu {
    width: 100%;
	overflow: hidden;
  }
  .board-shape {
    padding-top: 60%;
    width: 100%;
  }
  .board {
    background-image: url("/assets/images/grid-small.jpg");
  }
  .button {
    font-size: 3vw;
	width: 31%;
  }
}
@media (min-width: 600px) and (orientation:landscape){
  .menu {
    width: 15%;
	position: absolute;
	left: 2.5%;
	overflow: unset;
  }
  .board-shape {
    padding-top: 40%;
    width: 65%;
	margin-top: 5%;
  }
  .board {
    background-image: url("/assets/images/grid.jpg");
  }
  .button {
    font-size: 1.2vw;
	width: auto;
  }
}

.menu {
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 1vw;
}

.button {
  cursor: pointer;
  font-family: Monaco,Consolas,Lucida Console,monospace;
  float: left;
  padding: 1%;
  text-align: center;
  text-decoration-line: none;
}

.button.dialog {
  width: 50%;
  background-color: #3c8686;
  color: white;
}

nav {
  display: inline;
}


h1 {
  width: 100%;
}

.foundationpiles {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100%;
  position: relative;
}

.playpiles {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  position: relative;
}

svg {
  height: 40%;
  width: 40%;
  fill: #2c6565;
}

svg:hover {
  fill: #3c8686;
}

.mat-dialog-title {
  color: white;
  font-family: Monaco,Consolas,Lucida Console,monospace;
}
::ng-deep.mat-dialog-container {
    background-color: #67056d !important;
	border: 1px solid white;
}